@import url(./reset.css);
@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');

@media (min-width: 48.000em);


body {


    background-color: black;
}




html {

    scroll-behavior: smooth;

}

:root {

    --fuenteprincipal: 'Montserrat', sans-serif;
    --fuentetitulos: 'Handlee', cursive;
    --margingrid: 1em;
    --fontsize: 1em;
    --anchomaximo: 1100px;
}



* {
    box-sizing: border-box;
}



p {

    color: white;
    font-size: 10px;
    font-family: sans-serif;
}



button {

    font-size: 1px;


    color: white;
    background-color: orange;
    font-weight: 700;
    padding: 15px 70px 5px 50px;
    margin: 50%
}


div.articulos {

    padding-top: 10px;
    width: 30px;
    padding-left: 20px;
}



div.container {

    padding-top: 60px;
    font-size: larger;
    font-family: Montserrat;
    font-weight: 200;
    color: aliceblue;
    text-align: center;
}


div.underline {

    position: relative;
    width: 6.250em;
    margin: 0 auto;
    color: orange;
    font-weight: 700px;

}


div.title1,
title2,
tittle3 {

    font-family: sans-serif;
    width: 200px;
    color: aqua;


}

div .Ofertas h2 {

    font-family: sans-serif;
    font-weight: 200px;
}

div.precio {

    color: orange;
    font-weight: 40px;
}






p {

    justify-content: left;
}



button:hover {

    background-color: orange;
}